.web-logo{
  width:40px;
  height:40px;
  margin-top:-10px;
  margin-right:5px;
}

.home-container{
  height:8.5vh;
  background-color:#293540;
  position:fixed;
  top:0;
  width:100%;
  z-index:1;
}

.nav-link{
  color:#DEE2D6;
}

.home-page-nav{
  margin-left:30px;
  margin-right:30px;
}

.home-page-nav a > p{
  display:inline-block;
  color:#DEE2D6;
  font-weight:bold;
  font-size:24px;
  margin-top:10px;
}

.login-float{
  float:right;
}

.home-container::before,
.home-container::after{
  clear:both;
  display:table;
  content:""
}
