.courier-form{
  margin:10px;
}

.flash-message-error{
  margin-right:15px;
  margin-left:15px
}

#flash-message-error{
  background:#ff3333;
  width:30%;
  margin:20px 50px;
  color:white;
  border-radius:10px;
  padding:5px;
  font-size:16px;
}
