.courier-header{
  background-color:#293540;
  height:8.5vh;
  line-height:8.5vh;
  position:fixed;
  top:0;
  width:100%;
  z-index:1;
}

.courier-header p{
  margin:0;
  display:inline-block;
  margin-right:20px;
}

.notifications{
  display:inline-block;
  margin-right:0;
}

.courier-header a{
  color:#DEE2D6;
}

.rounded-circle{
  width:45px;
}

.courier-header a{
  color:#DEE2D6;
}

.float-right{
  width:250px;
}

.float-right button{
  margin-left:15px;
}


.courier-header-container{
  margin-left:30px;
  margin-right:30px;
}

.courier-header a img + p{
  display:inline-block;
  color:#DEE2D6;
  font-weight:bold;
  font-size:24px;
}
