.client-profile-container{
  float:right;
  width:75%;
  margin-top:12vh;
  margin-right:60px;
  height:83vh;
}

.img-container{
  float:left;
}

.img-container img{
  border-radius:10px;
  height:200px;
}

.img-container + div{
  display:inline-block;
  height:200px;
  margin-left:80px;
  margin-top:50px;
}

.img-container + div .key-width{
  width:130px;
}
