
.float-left{
    margin-left:100px;
    padding-top: 50px;
    /* width:250px; */
  }

.link + .link{
    margin-left:50px;  
    /* display: inline-block; */
}

.client-details{
    padding-left: 10px;
    padding-top: 75px;
}