.client-header{
  background-color:#293540;
  height:8.5vh;
  line-height:8.5vh;
  position:fixed;
  top:0;
  width:100%;
  z-index:1;
}

.client-header p{
  margin:0;
  display:inline-block;
  margin-right:20px;
}

.notifications{
  display:inline-block;
  margin-right:0;
}

.client-header a{
  color:#DEE2D6;
}

.float-right{
  padding-left:40px;
  width:300px;
}

.float-right button{
  margin-left:15px;
}


.client-header-container{
  margin-left:30px;
  margin-right:30px;
}

.client-header-container a img + p{
  display:inline-block;
  color:#DEE2D6;
  font-weight:bold;
  font-size:24px;
}

.nav-img{
  height:40px;
  width:40px;
  margin-right:10px;
  margin-left:10px;
  margin-top:-2px;
}

.logout-button{
  background:steelblue;
  color:white;
}
