.client-header{
  background-color:#DEE2D6;
  height:7vh;
  line-height:7vh;
  position:fixed;
  width:100vw;
  z-index:1;
}

.client-header p{
  margin:0;
  display:inline-block;
  margin-right:20px;
}

.notifications{
  display:inline-block;
  margin-right:0;
}

.client-header a{
  color:#DEE2D6;
}

.float-right{

  width:300px;
}

.float-right button{
  margin-left:15px;
}

/*.client-header button{
  background:#F58A07;
  border:0;
  border-radius:10px;
}*/

.fa-truck{
  color:steelblue;
  font-size:25px;
  margin-left:6%;
}

.nav-img{
  height:40px;
  margin-right:10px;
  margin-left:10px;
  margin-top:-2px;
}
