.notifications{
  display:inline-block;
}

.fa-flag span{
  margin-left:5px;
}



.show-hide{
  position:fixed;
  bottom:35px;
  left:20px;
  size:25px;
  background-color:#e1e6ee;
  padding:5px 10px;
  color:#293540;
  border:2px solid #999;
  border-radius:10px;
}

.ant-dropdown-link{
  margin-right:20px;
}

.checked .ant-dropdown-menu-item{
  background:rgba(228, 233, 241, 0.8);
}

.notification-style{
  border:1px solid rgba(200, 200, 200, 0.5);
}

.ant-dropdown-link p i{
  margin-right:8px;
}


.notification-style{
  border:0;
  margin-bottom:0;
  line-height:30px;
}
