
.courier-profile-container{
  float:right;
  width:75%;
  margin-top:12vh;
  margin-right:60px;
  height:83vh;
}


#newClient{
    margin:20px 50px;
    margin-top:12vh;
  }
  
  #newClient label{
    padding-left:80px;
  }
  
  #newClient .btn-success{
    margin-top:10px;
    margin-left:324px;
  }
  
  .flash-message-error{
    margin-right:15px;
    margin-left:15px
  }
  
  #flash-message-error{
    background:#ff3333;
    width:30%;
    margin:20px 50px;
    color:white;
    border-radius:10px;
    padding:5px;
    font-size:16px;
  }
  