.main-page-container{
  margin:10px 50px;
}

.home-img{
  height:91.5vh;
  width:100%;
}

.home-page{
  position:absolute;
}

.img-info{
  position:absolute;
  top:350px;
  left:200px;
}

.img-info h2{
  color:#fff;
  font-weight:bold;
}

.img-info h3{
  color:#fff;
  font-weight:bold;
}

.home-img-container{
  margin-top:8.5vh;
}

.main-page-container h2{
  text-align:center;
}

.main-page-container{
  padding:20px 0;
  margin:0 300px;
}
