.courier-login{
  color:#DEE2D6;
}

.courier-login a{
  color:#DEE2D6;
}

.courier-login *{
  margin-top:2px;
}

.courier-login-form .form-control{
  height:28px;
}

.links-down-login p a{
  height:15px;
  line-height:16px;
}

.links-down-login{
  margin-top:-0.5px;
}
