.flash-message-error{
  display:inline-block;
  color:#fff;
}

.flash-message-error-container{
  background:#ff3333;
  margin:10px;
}

#create-pickup{
  display:none;
}

#pickup-drop-menu{
  display:none;
}

#dropoff-drop-menu{
  display:none;
}

#create-dropoff{
  display:none;
}
